files:
    "/opt/aws/amazon-cloudwatch-agent/bin/config.json":
        mode: "000644"
        owner: root
        group: root
        content: |
            {
                "agent": {
                    "metrics_collection_interval": 60,
                    "run_as_user": "root"
                },
                "metrics": {
                    "namespace": "PHP-Beanstalk",
                    "metrics_collected": {
                        "disk": {
                            "measurement": [
                                "used_percent",
                                "used",
                                "free",
                                "total"
                            ]
                        },
                        "mem": {
                            "measurement": [
                                "mem_used_percent",
                                "mem_used",
                                "mem_total",
                                "mem_available"
                            ]
                        }
                    }
                }
            }
commands:
    01_install_cloudwatch_agent:
        command: "yum install -y amazon-cloudwatch-agent"
    02_start_cloudwatch_agent:
        container_command: "/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json"
