files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/kill_query.sh >> /var/log/cronjob.log 2>&1

    "/usr/local/bin/kill_query.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            DB_USER=$(aws ssm get-parameter --name "DB_USER" --query Parameter.Value --output text --region eu-central-1)
            DB_PASSWORD=$(aws ssm get-parameter --name "DB_PASSWORD" --with-decryption --query Parameter.Value --output text --region eu-central-1)
            DB_HOST=$(aws ssm get-parameter --name "DB_HOST" --query Parameter.Value --output text --region eu-central-1)

            QUERY_IDS=$(mysql -u$DB_USER -p$DB_PASSWORD -h$DB_HOST -e "
                SELECT id
                FROM information_schema.processlist
                WHERE COMMAND = 'Query' 
                  AND TIME > 10;" -s --skip-column-names)

            if [ -n "$QUERY_IDS" ]; then
                for id in $QUERY_IDS; do
                    echo "Kill query $id"
                    mysql -u$DB_USER -p$DB_PASSWORD -h$DB_HOST -e "KILL $id;"
                    echo "$id killed"
                done
            fi
