commands:
    04_install_mysql:
        command: "amazon-linux-extras install -y mariadb10.5"
    05_download_dump:
        command: "wget https://github.com/datacharmer/test_db/archive/refs/tags/v1.0.7.zip && unzip v1.0.7.zip && cd test_db-1.0.7"
    06_restore_dump:
        command: "mysql -u$DB_USER -p$DB_PASSWORD -h$DB_HOST < employees.sql"
    # 07_create_cronjob_user:
    #     command: 'mysql -u$DB_USER -p$DB_PASSWORD -h$DB_HOST -e "CREATE USER \"cronjob\"@\"%\" IDENTIFIED BY \"supersecret\";"'
    # 08_grant_cronjob_privileges:
    #     command: 'mysql -u$DB_USER -p$DB_PASSWORD -h$DB_HOST -e "GRANT SELECT, SUPER ON employees.* TO \"cronjob\"@\"%\"; FLUSH PRIVILEGES;"'
