commands:
    04_install_mysql:
        command: "amazon-linux-extras install -y mariadb10.5"
    05_download_dump:
        command: |
            wget https://github.com/datacharmer/test_db/archive/refs/tags/v1.0.7.zip
            unzip -o v1.0.7.zip
            rm v1.0.7.zip
    06_restore_dump:
        command: |
            DB_USER=$(aws ssm get-parameter --name "DB_USER" --query Parameter.Value --output text --region eu-central-1)
            DB_PASSWORD=$(aws ssm get-parameter --name "DB_PASSWORD" --with-decryption --query Parameter.Value --output text --region eu-central-1)
            DB_HOST=$(aws ssm get-parameter --name "DB_HOST" --query Parameter.Value --output text --region eu-central-1)
            cd test_db-1.0.7
            mysql -u"$DB_USER" -p"$DB_PASSWORD" -h"$DB_HOST" < employees.sql
        ignoreErrors: true
